{% extends "siteApp/base.html" %}


{% block pageName %}projects{% endblock %}


{% block title %}{% trans 'Projects' %} | {{ block.super }}{% endblock %}


{% block content %}
	<ul>
		{% for project in projects %}
			<li>
				<img src="{{ project.thumbnail.url }}" alt="{% blocktrans with projectName=project.name %}{{ projectName }} thumbnail.{% endblocktrans %}"/>

				<h2><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h2>

				<p>{{ project.short_description }}</p>

				<span>{% trans 'Last update:' %} {{ project.publishDate.date }}</span>
				<span><a href="{{ project.get_absolute_url }}">8 {% trans 'comments' %}</a></span>
			</li>
		{% endfor %}
	</ul>
{% endblock %}