//
// VAZ Projects
//
//
// Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



.mainHeader
{
	
}


.contentSection
{
	
}


.mainFooter
{
	text-align: center;
	
	> hr
	{
		margin: 25px 0px;
		border: none;
		height: 1px;
		
		background-image: linear-gradient( to right, hsla( 0, 0, 0, 0 ), hsla( 0, 0, 0, 1 ) 25% 75%, hsla( 0, 0, 0, 0 ) );
	}
}