//
// VAZ Projects
//
//
// Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



// Global variables.
@headerTextColor: hsl( 0, 0, 0% );
@headerBackgroundColor: hsl( 0, 0, 80% );

@contentTextColor: hsl( 0, 0, 20% );
@contentBackgroundColor: hsl( 0, 0, 90% );


@font-face
{
	font-family: "Lucida Sans Unicode";
	font-weight: normal;
	font-style: normal;
	
	src:	local( "Lucida Sans Unicode" ),
			url( "../fonts/lucidaSansUnicode.woff2" ),
			url( "../fonts/lucidaSansUnicode.woff" );
}


// General styles.
@import "reusable.less";
@import "elements.less";
@import "sections.less";


// Pages.
@import "pages/home.less";
@import "pages/projects.less";
@import "pages/project.less";
@import "pages/professional.less";
@import "pages/about_me.less";
@import "pages/error.less";


// Print.
@import "print.less";