#
# VAZ Projects
#
#
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



[run]
data_file = deployment/tests/.coverage
source = .

[report]
precision = 2
skip_covered = True
show_missing = True

[xml]
output = deployment/tests/coverage.xml