# 
# VAZ Projects
# 
# 
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



boto3==1.24.29
coverage==6.4.2
Django==4.0.6
django-3-jet @ git+https://gitlab.com/marcelotsvaz/django-jet.git@45eee09b78775d67678bce50e3e65d75724e1065
django-cleanup==6.0.0
django-compression-middleware==0.4.1
django-debug-toolbar==3.5.0
django-elasticsearch-dsl==7.2.2
django-imagekit==4.1.0
django-storages==1.12.3
django-taggit==3.0.0
djangorestframework==3.14.0
Jinja2==3.1.2
markdown-it-py==2.1.0
Pillow==9.2.0
psycopg2==2.9.3
pylibmc==1.6.1
requests==2.28.1
unittest-xml-reporting==3.2.0
uWSGI==2.0.20


## The following requirements were added by pip freeze:
asgiref==3.5.2
botocore==1.27.29
Brotli==1.0.9
certifi==2022.6.15
charset-normalizer==2.1.0
django-appconf==1.0.5
elasticsearch==7.17.4
elasticsearch-dsl==7.4.0
idna==3.3
jmespath==1.0.1
lxml==4.9.1
MarkupSafe==2.1.1
mdurl==0.1.1
pilkit==2.0
python-dateutil==2.8.2
pytz==2022.6
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.10
zstandard==0.18.0