#
# VAZ Projects
#
#
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



[run]
data_file = deployment/.coverage
source = vazProjects

[report]
precision = 2
skip_covered = True
show_missing = True
omit =
	vazProjects/settings/development.py
	vazProjects/settings/secrets_template.py

[xml]
output = deployment/coverage.xml