{% extends "siteApp/base.html" %}



{% block pageName %}home{% endblock %}



{% block content %}
	<section class="welcome">
		<h2>{{ _('Welcome') }}</h2>
		<p>
			{{ _('Here you can find in-depth information on all my projects.') }}
		</p>
	</section>
	
	<section class="projects">
		<h2>{{ _('Featured Projects') }}</h2>
		<ul>
			{% for project in projects %}
				<li>
					<a href="{{ project.get_absolute_url() }}">{{ project.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
	
	<section class="blog">
		<h2>{{ _('Latest Posts') }}</h2>
		<ul>
			{% for post in posts %}
				<li>
					<a href="{{ post.get_absolute_url() }}">{{ post.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}