{% extends "siteApp/base.html" %}



{% import "commonApp/comments.html" as comments %}



{% block extraScripts %}{{ comments.script() }}{% endblock %}

{% block pageName %}project{% endblock %}
{% block title %}{{ project.name }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ project.name }}{% endblock %}
{% block bannerImage %}{{ project.banner.url }}{% endblock %}



{% block content %}
	<article>
		{{ project.render_content() | safe }}
	</article>
	
	{% if not project.draft %}
		{{ comments.section( project.get_absolute_url(), self.title(), request.build_absolute_uri() ) }}
	{% endif %}
{% endblock %}



{% block sidebar %}
	{% if not project.single_page %}
		<h3>{{ _('Project navigation') }}</h3>
		
		<ul>
			<li>
				<strong>{{ _('Project Index') }}</strong>
			</li>
			
			{% for page in pages %}
				<li>
					<a href="{{ page.get_absolute_url() }}">{{ page.full_name }}</a>
					{% if page.draft %}{{ _('(Draft)') }}{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}