<!DOCTYPE html>

<html lang="{{ request.LANGUAGE_CODE }}">
	<head>
		{% comment %} CSS {% endcomment %}
		<link rel="stylesheet" href="{% static 'commonApp/css/normalize-8.0.1.css' %}"/>
		<link rel="stylesheet" href="{% static 'siteApp/css/siteApp.css' %}"/>
		
		{% comment %} Javascript {% endcomment %}
		<script src="{% static 'commonApp/javascript/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'siteApp/javascript/siteApp.js' %}"></script>
		
		{% comment %} Favicon {% endcomment %}
		<link rel="icon" href="{% static 'siteApp/images/favicon.png' %}"/>
		<link rel="apple-touch-icon" href="{% static 'siteApp/images/favicon.png' %}"/>
		
		{% comment %} Preload {% endcomment %}
		<link rel="preload" href="{% static 'siteApp/images/logo.svg' %}" as="image">
		
		{% comment %} Meta {% endcomment %}
		<title>{% block title %}{% trans 'VAZ Projects' %}{% endblock %}</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="{% trans 'TODO: Meta description.' %}">
		<meta name="viewport" content="width=1100 viewport-fit=cover">
	</head>
	
	<body class="{% block pageName %}{% endblock %}">
		<header class="mainHeader">
			<div class="header">
				<a class="logo" href="{% url 'siteApp:home' %}">
					<img src="{% static 'siteApp/images/logo.svg' %}" alt="{% trans 'Logo.' %}">
				</a>
			</div>
			
			<div class="menu">
				<a class="logoSmall" href="{% url 'siteApp:home' %}">
					<img src="{% static 'siteApp/images/logo2.svg' %}" alt="{% trans 'Logo.' %}">
				</a>
				<a href="{% url 'siteApp:home' %}">{% trans 'Home' noop %}</a>
				<a href="{% url 'siteApp:home' %}">{% trans 'Home' noop %}</a>
				<a href="{% url 'siteApp:home' %}">{% trans 'Home' noop %}</a>
			</div>
		</header>
		
		<main class="contentSection">
			{% block contentSection %}{% endblock %}
		</main>
		
		<footer class="mainFooter">
			<p>
				{% trans 'Footer text.' %}<br>
			</p>
			
			<hr>
			
			<p>{% trans 'VAZ Projects' %}</p>
		</footer>
	</body>
</html>