<!DOCTYPE html>

<html lang="{{ request.LANGUAGE_CODE }}">
	<head>
		{% comment %} CSS {% endcomment %}
		<link rel="stylesheet" href="{% static 'commonApp/css/normalize-8.0.1.css' %}"/>
		<link rel="stylesheet" href="{% static 'siteApp/css/siteApp.css' %}"/>
		
		{% comment %} Javascript {% endcomment %}
		<script src="{% static 'commonApp/javascript/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'siteApp/javascript/siteApp.js' %}"></script>
		
		{% comment %} Favicon {% endcomment %}
		<link rel="icon" href="{% static 'siteApp/images/favicon.png' %}"/>
		<link rel="apple-touch-icon" href="{% static 'siteApp/images/favicon.png' %}"/>
		
		{% comment %} Preload {% endcomment %}
		<link rel="preload" href="{% static 'siteApp/images/logo.svg' %}" as="image">
		
		{% comment %} Meta {% endcomment %}
		<title>{% block title %}{% trans 'VAZ Projects' %}{% endblock %}</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="{% trans 'TODO: Meta description.' %}">
		<meta name="viewport" content="width=1100 viewport-fit=cover">
	</head>
	
	<body class="{% block pageName %}{% endblock %}">
		<header class="header">
			<a class="logo" href="{% url 'siteApp:home' %}">
				<img src="{% static 'siteApp/images/logo.svg' %}" alt="{% trans 'Logo.' %}">
			</a>
		</header>
		
		<nav class="menu">
			<a href="{% url 'siteApp:home' %}">{% trans 'Home' noop %}</a>
			<a href="{% url 'siteApp:home' %}">{% trans 'Projects' %}</a>
			<a href="{% url 'siteApp:home' %}">{% trans 'Blog' %}</a>
			<a href="{% url 'siteApp:home' %}">{% trans 'Store' %}</a>
			<a href="{% url 'siteApp:home' %}">{% trans 'Work' %}</a>
			<a href="{% url 'siteApp:home' %}">{% trans 'About me' %}</a>
		</nav>
		
		<div class="banner" style="background-image: url( {% block bannerImage %}'{% static 'siteApp/images/banner.jpg' %}'{% endblock %} );">
			{% block banner %}{% endblock %}
		</div>
		
		<main class="content">
			{% block content %}{% endblock %}
		</main>
		
		<nav class="sidebar">
			{% block sidebar %}{% endblock %}
		</nav>
		
		<footer class="footer">
			<p>
				{% trans 'Footer text.' %}<br>
			</p>
			
			<hr>
			
			<p>{% trans 'VAZ Projects' %}</p>
		</footer>
	</body>
</html>