#
# VAZ Projects
#
#
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



[Unit]
Description = Backup

[Service]
Type = oneshot

EnvironmentFile = /root/init/environment.sh
ExecStart = /home/utl/server/config/backup.sh