#
# VAZ Projects
#
#
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



[Unit]
Description = uWSGI
After = syslog.target


[Service]
Type = simple

EnvironmentFile = /root/init/environment.sh
ExecStart = /home/utl/deployment/env/bin/uwsgi --ini /home/utl/server/config/uwsgi.ini
ExecStop = /home/utl/deployment/env/bin/uwsgi --stop /run/uwsgi.pid
ExecReload = /home/utl/deployment/env/bin/uwsgi --reload /run/uwsgi.pid


[Install]
WantedBy = multi-user.target