{% extends "siteApp/base.html" %}



{% block pageName %}blog{% endblock %}
{% block title %}{{ _('Search') }} | {{ super() }}{% endblock %}



{% block searchQuery %}{{ searchQuery }}{% endblock %}



{% block content %}
	<header>
		<h1>{{ _('Search') }}</h1>
		
		<form action="{{ url( 'siteApp:search' ) }}">
			<input type="text" name="query" value="{{ searchQuery }}">
			<input type="submit" value="{{ _('Search') }}">
		</form>
	</header>
	
	{% if results %}
		{% for result in results %}
			<article>
				<h2><a href="">{{ result.title }}</a></h2>
				
				<div>{{ result.content | safe }}</div>
			</article>
		{% endfor %}
		
		<nav class="pagination">
			<span>
				{% if previousPageUrl %}
					<a href="{{ previousPageUrl }}">{{ _('Previous page') }}</a>
				{% endif %}
			</span>
			
			<span>
				{{ _('Page {0} of {1}').format( page_obj.number, paginator.num_pages ) }}
			</span>
			
			<span>
				{% if nextPageUrl %}
					<a href="{{ nextPageUrl }}">{{ _('Next page') }}</a>
				{% endif %}
			</span>
		</nav>
	{% else %}
		<p>{{ _('Your search returned no results, maybe try some different keywords.') }}</p>
	{% endif %}
{% endblock %}



{% block sidebar %}

{% endblock %}