<div class="imageGallery {{ cssClasses }}">
	{% for image in images %}
		<a href="{{ image.image_large.url }}">
			<img src="{{ image.image_small.url }}" alt="{{ image.alt }}">
		</a>
		
		<div>
			<figure>
				<img src="{{ image.image_large.url }}" alt="{{ image.alt }}" loading="lazy">
				<figcaption>
					<p>{{ image.alt }}</p>
					{% if image.attribution %}<p>{{ _('Credits: ') }}{{ image.attribution }}</p>{% endif %}
				</figcaption>
				<button>{{ _('Close') }}</button>
			</figure>
		</div>
	{% endfor %}
</div>