{% extends "siteApp/base.html" %}



{% block pageName %}projects{% endblock %}
{% block title %}{{ _('Projects') }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ _('Projects') }}{% endblock %}
{% block bannerImage %}{{ static( 'projectsApp/images/banner.jpg' ) }}{% endblock %}
{% block bannerImagePreload %}<link rel="preload" href="{{ static( 'projectsApp/banner.jpg' ) }}" as="image">{% endblock %}



{% block content %}
	<ul>
		{% for project in projects %}
			<li>
				<img src="{{ project.thumbnail.url }}" alt="{{ _('{0} thumbnail.').format( project.name ) }}"/>
				
				<h2><a href="{{ project.get_absolute_url() }}">{{ project.name }}</a></h2>
				
				<p>{{ project.short_description }}</p>
				
				<span>{{ _('Last update:') }} {{ project.publishDate.date() }}</span>
				<span><a href="{{ project.get_absolute_url() }}">8 {{ _('comments') }}</a></span>
			</li>
		{% endfor %}
	</ul>
{% endblock %}