{% extends "siteApp/base.html" %}



{% block pageName %}project{% endblock %}
{% block title %}{{ project.name }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ project.name }}{% endblock %}
{% block bannerImage %}{{ project.banner.url }}{% endblock %}



{% block content %}
	{% if not currentPage %} {# At project index. #}
		{{ project.render_content() | safe }}
	{% else %}
		{{ currentPage.render_content() | safe }}
		
		{% if previousPage %}
			<a href="{{ previousPage.get_absolute_url() }}">{{ _('Previous: {0}').format( previousPage.full_name ) }}</a>
		{% endif %}
		
		{% if nextPage %}
			<a href="{{ nextPage.get_absolute_url() }}">{{ _('Next: {0}').format( nextPage.full_name ) }}</a>
		{% endif %}
	{% endif %}
{% endblock %}



{% block sidebar %}
	{% if not project.single_page %}
		<h3>{{ _('Project navigation') }}</h3>
		
		<ul>
			<li>
				{% if currentPage %} {# Not at project index. #}
					<a href="{{ project.get_absolute_url() }}">{{ _('Project Index') }}</a>
				{% else %}
					<strong>{{ _('Project Index') }}</strong>
				{% endif %}
			</li>
			
			{% for page in pages %}
				<li>
					{% if page.number == currentPage.number %}
						<strong>{{ page.full_name }}</strong>
					{% else %}
						<a href="{{ page.get_absolute_url() }}">{{ page.full_name }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}