{% extends "siteApp/base.html" %}



{% block pageName %}projects{% endblock %}
{% block title %}{{ _('Projects') }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ _('Projects') }}{% endblock %}
{% block bannerImage %}{{ static( 'projectsApp/images/banner.jpg' ) }}{% endblock %}



{% block content %}
	<ul>
		{% for project in projects %}
			<li>
				<h2><a href="{{ project.get_absolute_url() }}">{{ project.name }}</a></h2>
				
				<img src="{{ project.thumbnail.url }}" alt="{{ _('{0} thumbnail.').format( project.name ) }}"/>
				
				<p>{{ project.description }}</p>
				
				<span>{{ _('Last update: {0}').format( project.last_edited.date() ) }}</span>
				<span><a href="{{ project.get_absolute_url() }}">{{ _('{0} comments').format( 15 ) }}</a></span>
			</li>
		{% endfor %}
	</ul>
{% endblock %}