{% extends "siteApp/base.html" %}



{% import "commonApp/comments.html" as comments %}



{% block extraScripts %}{{ comments.script() }}{% endblock %}

{% block pageName %}project{% endblock %}
{% block title %}{{ project.name }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ project.name }}{% endblock %}
{% block bannerImage %}{{ project.banner.url }}{% endblock %}



{% block content %}
	{% if not currentPage %}	{# Project index or single page. #}
		<article>
			{{ project.render_content() | safe }}
		</article>
		
		{{ comments.section( project.get_absolute_url(), self.title(), request.build_absolute_uri() ) }}
	{% else %}					{# Project page. #}
		<article>
			{{ currentPage.render_content() | safe }}
		</article>
		
		{% if previousPage %}
			<a href="{{ previousPage.get_absolute_url() }}">{{ _('Previous: {0}').format( previousPage.full_name ) }}</a>
		{% endif %}
		
		{% if nextPage %}
			<a href="{{ nextPage.get_absolute_url() }}">{{ _('Next: {0}').format( nextPage.full_name ) }}</a>
		{% endif %}
		
		{{ comments.section( currentPage.get_absolute_url(), self.title(), request.build_absolute_uri() ) }}
	{% endif %}
{% endblock %}



{% block sidebar %}
	{% if not project.single_page %}
		<h3>{{ _('Project navigation') }}</h3>
		
		<ul>
			<li>
				{% if not currentPage %}	{# Project index. #}
					<strong>{{ _('Project Index') }}</strong>
				{% else %}
					<a href="{{ project.get_absolute_url() }}">{{ _('Project Index') }}</a>
				{% endif %}
			</li>
			
			{% for page in pages %}
				<li>
					{% if page.number == currentPage.number %}
						<strong>{{ page.full_name }}</strong>
					{% else %}
						<a href="{{ page.get_absolute_url() }}">{{ page.full_name }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}