# 
# VAZ Projects
# 
# 
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



[Unit]
Description = Dehydrated
StartLimitIntervalSec = 3h
StartLimitBurst = 2

[Service]
Type = oneshot
User = load-balancer
Group = load-balancer

Restart = on-failure
RestartSec = 1h

EnvironmentFile = /etc/environment
WorkingDirectory = /home/load-balancer/loadBalancer
ExecStart = /home/load-balancer/loadBalancer/config/tls/dehydrated.sh
ExecStartPost = +docker compose restart nginx