{% extends "siteApp/base.html" %}



{% block pageName %}blog{% endblock %}
{% block title %}{{ _('Blog') }} | {{ super() }}{% endblock %}



{% block content %}
	{% for post in posts %}
		<article>
			<h2><a href="{{ post.get_absolute_url() }}">{{ post.title }}</a></h2>
			
			<a href="{{ post.get_absolute_url() }}">
				<img src="{{ post.thumbnail.url }}" alt="{{ _('Thumbnail for post: {0}.').format( post.title ) }}"/>
			</a>
			
			<div>{{ post.render_content( beforeBreak = True ) | safe }}</div>
			
			<footer>
				{% if post.tags.all() %}
					<div class="tags">
						{{ _('Tags:') }}
						
						{% for tag in post.tags.all() -%}
							<a href="{{ url( 'blogApp:blog', kwargs = { 'tag_slug': tag.slug } ) }}" rel="tag">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
						{%- endfor %}
					</div>
				{% endif %}
				
				<div>
					{% trans user = post.author.get_username(), isoTime = post.posted.isoformat(), date = post.posted.strftime( '%B %-d, %Y' ) %}
						by {{ user }} on <time datetime="{{ isoTime }}">{{ date }}</time>
					{% endtrans %}
				</div>
				
				<div>
					<a href="{{ post.get_absolute_url() }}#comments">
						{{ ngettext( '{0} comment', '{0} comments', post.comment_count ).format( post.comment_count ) }}
					</a>
				</div>
			</footer>
		</article>
	{% endfor %}
	
	<nav class="pagination">
		<span>
			{% if nextPageUrl %}
				<a href="{{ nextPageUrl }}">{{ _('Older posts') }}</a>
			{% endif %}
		</span>
		
		<span>
			{{ _('Page {0} of {1}').format( page_obj.number, paginator.num_pages ) }}
		</span>
		
		<span>
			{% if previousPageUrl %}
				<a href="{{ previousPageUrl }}">{{ _('Newer posts') }}</a>
			{% endif %}
		</span>
	</nav>
{% endblock %}



{% block sidebar %}
	<section>
		<h3>{{ _('Tags') }}</h3>
		
		<ul>
			{% for tag in allTags %}
				<li><a href="{{ url( 'blogApp:blog', kwargs = { 'tag_slug': tag.slug } ) }}" rel="tag">{{ tag.name }}</a></li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}