# 
# VAZ Projects
# 
# 
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



[Unit]
Description = cAdvisor
Documentation = https://github.com/google/cadvisor
# Don't trigger docker.socket before perBoot.service has runned.
After = perBoot.service

[Service]
ExecStart = /usr/local/lib/cadvisor --port 9080

[Install]
WantedBy = multi-user.target