{% extends "siteApp/base.html" %}



{% import "commonApp/comments.html" as comments %}



{% block extraScripts %}{{ comments.script() }}{% endblock %}

{% block pageName %}post{% endblock %}
{% block title %}{{ post.title }} | {{ super() }}{% endblock %}

{% block bannerTitle %}{{ post.title }}{% endblock %}
{% block bannerImage %}{{ post.banner.url }}{% endblock %}



{% block content %}
	{{ post.render_content() | safe }}
	
	{{ comments.section( post.get_absolute_url(), self.title(), request.build_absolute_uri() ) }}
{% endblock %}